
/* the default view is meant for a mobile device (max width of about 640px */

body {
    font-family: "Montserrat", sans-serif;
    /* font-weight: 10px; */
    font-style: normal;
    font-size:125%;
    
}
/* skip to main button  */
nav li :hover{
    text-decoration: underline;
}
nav li :focus{
    text-decoration: underline;
}
.skip {
    position:absolute;
    top: -40px;   
}
.skip:focus{
    top: 0;
    position: absolute;  
    background-color: #FFCB05;
    color:#00274C;
}

:focus{
    border-width: 3px;
    border-style: solid;
    border-color:#FFCB05;
    
}

/* style nav bar */

nav li{
    display:inline;
    padding-right:1rem;
    padding-left: 1rem;
    

    border-right: 1px solid white;
    
  }
  
  nav a{
    color: #FFCB05;
    font-weight: bold;
    text-decoration: none; 
    
    
  }

  nav{
    background-color: #00274C;
    padding: 25px 0; 
    text-align: left;
    
  }
  .open{
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 20fr;
    gap: 10px;
    background-color: #00274C;
    align-items: center;
  }
  .open > h1{
    grid-column: 2/span 1;
    color:white;
   font-size: 130%;
   

  }
  .open > img{
    grid-column: 1/span 1;
    max-height: 100px;
  }

/* style actual content */
.container{
    display: grid;
     grid-template-columns: 1fr 10fr 1fr;
     grid-row-gap: 15px;
     grid-column-gap: 15px;
     
}
footer{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

.container > section, .container > section > section, footer > p {
    display: block;
    grid-column: 2/span 1;
    color:#00274C;
    display:inline-block;
          text-align: left;
          justify-content: center;
          align-content: center;
          justify-self: center;
          align-self: center;
    padding: 10px 0 5px 0;

}
.container >section > h2, h2{
font-size: 150%;
border-bottom: 0.25rem solid #FFCB05;
padding-bottom: 0.5rem;
margin-bottom: 0.5rem;
}
img{
    max-width: 80%;
    height: auto;
    border-color:#00274C;
    border-width: 10px;
    border-style:solid;
    margin: 0.25rem;
   
}
.container > section > ul{
    padding: 1rem;

}
h3{
    text-decoration: underline;
    text-decoration-color:#00274C;
    padding: 0.2rem;
    font-size:135%;
}


